.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 40%;
  height: fit-content;
  /* width: 10rem; */
  border: 2px solid purple;
  margin-bottom: 40px;
  overflow-y: scroll;
}

.photo {
  flex-basis: 100%;
}