.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 40%;
  height: 10rem;
  /* width: 10rem; */
  border: 2px solid purple;
  margin-bottom: 40px;
}

.photo {
  flex-basis: 100%;
}