.footer {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  height: 12rem;
  background-color: black;
  position: relative;
  top: 84em;
}

.left {
  display: flex;
  flex-direction: column;
  background-color: #161616;
  flex-grow: 1.5;
  align-items: center;
  justify-content: center;
}

.right {
  evenly-space: space-around;
  display: flex;
  flex-direction: row;
  background-color: #161616;
  flex-grow: 3;
  align-items: center;
  justify-content: space-around;
  /* align-content: flex-end; */
  border: 2px solid orange;
}


.a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.5rem 2rem;
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
}

/* Change the color of links on hover */
.a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.a.active {
  background-color: #04AA6D;
  color: white;
}