.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100;
  /* min-height: min-content; */
  height: auto;
  background-color: #f7f7f7;
  /* border: 4px solid black; */
  position: relative;
  border: 2px solid orange;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border: 2px solid yellow;
  background-color: #f7f7f7;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 3rem;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 100px;
  width: 30rem;
  /* border: 2px solid green; */
}

.h2 {
  font-size: 1.5rem;
  width: 100%;
}

.subtitle {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  /* width: 100%; */
  /* border: 2px solid pink; */
  /* margin: 0px 100px 0px 100px; */
  margin-left: 100px;
  margin-right: 100px;
  border: 2px solid red;
}

.body {
  margin-bottom: 3rem;
}